<footer>
	<nav class='round'>
		<ul>
			<li><%= link_to "About",'about'%></li>
			<li><%= link_to "Contact",'contact'%></li>
			<li><a href="http://news.railstutorial.org/">News</a></li>
			<li><a href="http://www.railstutorial.org/">Rails Tutorial</a></li>
		</ul>
	</nav>
</footer>

<div id="footer">
		<div class="footer_links">
                <a href="sc.chinaz.com" title="">首页 </a>
                <a href="sc.chinaz.com" title="">关于滨文苑</a>
                <a href="sc.chinaz.com" title="">服务</a>
                <a href="sc.chinaz.com" title="">联系我们</a>       
        </div>
    	<div class="copyright">
        <a href="sc.chinaz.com">陈辉出品</a>
        </div>
</div>

