<header>
	<%= image_tag("../images/logo.gif", :alt => "BingWen", :class => "round") %>
	<nav class="round">
		<ul>
			<li><%= link_to "home", 'home' %></li>
			<li><%= link_to "help", 'help' %></li>
			<li><%= link_to "sign in", '#' %></li>
		</ul>
	</nav>
</header>
